{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>{%block title %}My Base Html {%endblock%}</title>
<style type="text/css">
	body{
		text-align:center;	
	}
	#page {
		width:900px;
		text-align:left;
		margin:10px auto 20px auto;
		background-color:#0c0c0c;
	}
	#sidebar {
		float:left;
		width:200px;
		border:1px solid #0000;
	}
	#content {
		float:left;
		width:600px;
		border:1px solid #0000;
		padding:10px	
	}
	</style>
</head>
<div id="page">
<div id="sidebar">
	{%block sidebar%}
	<ul>
	<li><a href='/article/all'>Articles</a></li>
	<li><a href="/admin/">Admin</a></li>
	 
	</ul>
	{% endblock%}
</div>
<div id="content">
{%block content%}
<img src="{% static 'images/index.jpg' %}" width="200"/>
{% endblock%}

</div>
</div>
</body>
</html>
